<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base::common_head(~{::title},~{})">
    <title>Home</title>
</head>
<body>
<div th:replace="~{base::navbar}"></div>
<div class="container-fluid all">
    <div class="sidebar">
        <ul class="nav" th:include="base::sidebar(~{::li})">
        </ul>
    </div>
    <div class="maincontent row">
        <ul class="breadcrumb">
            <li class="active">Home</li>
        </ul>
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>spring-boot built zookeeper mgmt background</h1>
                <h4>Support ops of persistent nodes without permission</h4>
                <h4>Support for adding and modifying nodes, currently only supports adding non parent nodes</h4>
                <h4>After selecting the node, the right mouse button supports copying the node, pasting the node, refreshing the node, and deleting the node</h4>
                <h4>The connection list page supports reminding to refresh the page when the connection status changes</h4>
                <h4>Node page, support automatic refresh node when node changes</h4>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{base::script}"></div>
</body>
</html>